<% include header %>
<header id="section-Header"> <h1><strong>07-Akshara Gurram</strong></h1></header>
 <img src="/images/aaa.jpg" alt="akshara"  height="200"  width="200" class="img-circle" />

   <h2 id="past-section">About my past</h2>
    <p class="one">I am an Indian.I have a bachelor’s degree in Computer Sciences and Engineering from Jawaharlal Nehru Technological University, Hyderabad.I led a team representing our college in state-level Hackathon 2018.My commitment to serve the community while building upon my current knowledge about new innovations in technologies motivated me to work with Swecha, a non-profit organization that volunteers to provide quality training and education to underprivileged youth and also aims at providing the framework for development and maintenance of free software projects.</p>
   <h2 class="one">At present</h2>
	<p class="two">I am a new member of the Fall Batch working on my Masters of Applied Computer Science.</p>
   <h2 id="future-section">My aspirations</h2>
	<p class="three">In my future,I would like to be a software solution architect in MNC's.</p>
   <h2 class="four">My hobbies</h2>
    <p class="four">In my free time,I like to browse and learn new things.The interesting thing about me is that I am an animal lover.</p>
   </article>
      <h2 class="five">My Schedule</h2>
    <ul>  
    <li>Web Applications           (MW-2:00pm)</li><br>
    <li>object oriented programming(TR-8:00am,R-3:35pm)</li><br>
    <li>Advanced Database          (MWF-1:00pm)</li><br>
    </ul> 
  <aside class="aside-Header"><h6>linkedin</h6>www.linkedin.com/in/akshara-gurram-4b169713b</aside>
  <iframe width="400"	height="200" src="https://www.youtube.com/embed/z32VQgObAr4"  allow="autoplay; encrypted-media" allowfullscreen ></iframe>
</main>
<% include footer %>